<ul class="tabs">
    <li *ngFor="let range of ranges; let i = index"
        [class.active]="i === selectedTabIndex"
        (click)="selectTab(i)">
        <span class="tab-title">{{getRangeLabel(range)}}</span>
        <span class="icon icon-close close-btn" *ngIf="range.to" (click)="removeTab(i); $event.stopPropagation()"></span>
    </li>
    <li class="add-btn" (click)="addTab()">
        <span class="icon icon-add"></span>
    </li>
</ul>

<div class="options layout-row">
    <!-- <div class="ui-inputgroup">
        <button pButton type="button" icon="icon icon-calendar"></button>
        <input type="text" pInputText placeholder="Keyword">
    </div> -->

    <span class="flex-grow"></span>

    <p-button class="monitor-btn"
              styleClass="ui-button-outlined"
              label="היום"
              (click)="selectTab(0)"
              [disabled]="selectedTabIndex === 0">
    </p-button>
</div>