$icomoon-font-family: "final-demo-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-warning: "\e904";
$icon-graph-area: "\e902";
$icon-home: "\e905";
$icon-location: "\e947";
$icon-map: "\e94c";
$icon-calendar: "\e953";
$icon-filter: "\e992";
$icon-settings: "\e994";
$icon-cogs: "\e995";
$icon-stats: "\e99c";
$icon-speedometer: "\e9a6";
$icon-bullet-list: "\e9ba";
$icon-close: "\ea0f";
$icon-check: "\ea10";
$icon-check-filled: "\ea52";
$icon-puzzle: "\e906";
$icon-add: "\e903";
$icon-more: "\e907";
$icon-panels: "\e901";
$icon-line-graph: "\e908";
$icon-octologo: "\e900";

