body .ui-widget {
    font-size: 100%;
}

/* BUTTON OVERRIDES */
body .ui-button {
    // Radious to 0
    &.ui-corner-all {
        border-radius: 0px;
    }
    // Transparent button style (.ui-button-transparent)
    &.ui-state-default.ui-button-transparent {
        color: #333333;
        background-color: transparent;
        border: 1px solid transparent;

        &:enabled:focus {
            background-color: white;
        }

        &:enabled:hover {
            background-color: #c8c8c8;
            color: #333333;
            border-color: #c8c8c8;
        }

        &:enabled:active {
            background-color: #a0a0a0;
            color: #333333;
            border-color: #a0a0a0;
        }
    }
    
    // Outlined button style (.ui-button-outlined)
    &.ui-state-default.ui-button-outlined {
        color: rgba(0,0,0,.7);
        background-color: transparent;
        border: 1px solid rgba(0,0,0,.4);
        transition: color .25s, border-color .25s;
        border-radius: 4px;
        
        &:enabled:focus {
            color: rgba(0,0,0,1);
            border-color: rgba(0,0,0,.7);
        }

        &:enabled:hover {
            color: rgba(0,0,0,1);
            border-color: rgba(0,0,0,.7);
        }

        &:enabled:active {
            color: rgba(0,0,0,1);
            border-color: rgba(0,0,0,.7);
        }
    }
}

/* CARD OVERRIDES */
body .ui-card {
    &.ui-full-height {
        height: calc(100% - 2px);
    }
    .ui-card-body {
        padding: 1.5rem;
    }
}

/* TAB VIEW OVERRIDES */
// TODO check real values with real design
body .ui-tabview {
    padding: 0;

    .ui-tabview-nav {
        margin-bottom: 0 !important;

        li {
            cursor: pointer;
        }
        li:not(.ui-shrink-tab) {
            height: 6rem;
            display: flex;
            align-items: center;
            padding: 1.5rem;
            border: 0 !important;
            min-width: 27rem;
            border-radius: 0;
            margin-right: 0;
            margin-left: .1rem;
            top: 0;
            
            a {
                padding: 0;
                position: relative;
                top: -.2rem;
                flex: 1;
            }

            .ui-tabview-close {
                font-size: 1.1rem;
                line-height: 2rem;
            }
        }
        li.ui-shrink-tab {
            margin-right: 2rem;
        }
        li.add-btn {
            display: flex;
            align-items: center;
            height: 3.5rem;
            width: 3.5rem;
            text-align: center;
            border-radius: .5rem;
            margin-top: 1.25rem;
            a {
                position: absolute;
                top: calc(50% - .1rem);
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

body .ui-corner-all {
    border-radius: .3rem;
}