@font-face {
    font-family: 'Arimo';
    src: url('/src/fonts/arimo-font/Arimo-Regular.ttf'); 
}
@font-face {
    font-family: 'Arimo';
    font-weight: bold;
    src: url('/src/fonts/arimo-font/Arimo-Bold.ttf'); 
}