html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Arimo', Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (min-width: 2048px) {
    html {
        font-size: 14px;
    }
}