:host {
    background: rgb(90, 90, 90);
    color: white;
}

section.header {
    height: 15rem;
    padding: 2rem;

    .status-icon {
        font-size: 2rem;
        margin-left: 1rem;
    }
}

app-real-time-events {
    display: block;
    height: 37rem;
}

app-real-time-alerts {
    display: block;
    height: 53rem;
}