$familySelectorWidth: 37rem;

app-statistics {
    display: flex;
    overflow: hidden;
}

.moving-panel {
    position: relative;
    flex-basis: 33.02%;

    .moving-panel-content {
        z-index: 2;
        width: calc(100% + #{$familySelectorWidth});
        transition: ease-in-out .5s;
    }
    &.expanded .moving-panel-content {
        transform: translate3d(-$familySelectorWidth, 0, 0);
    }
}

app-family-selector {
    width: $familySelectorWidth;
}