<div class="container full-size layout-column">
  <app-statistics-range-selector></app-statistics-range-selector>

  <mat-grid-list class="flex-grow" cols="2" rows="3" rowHeight="fit" gutterSize="2rem">
    <mat-grid-tile
        *ngFor="let statistic of preset"
        [colspan]="statistic.cols"
        [rowspan]="statistic.rows">

      <app-statistic-container class="full-size" [statistic]="statistic">
        <ng-template
          [appDynamicComponent]="statistic.component$"
          [data]="data$">
        </ng-template>
      </app-statistic-container>

    </mat-grid-tile>
  </mat-grid-list>
</div>